* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(220, 217, 210);
  letter-spacing: 0.8px;
}

.title {
  text-align: center;
  padding: 20px;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}
