* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9eccf;
  letter-spacing: 0.8px;
  width: 97%;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding: 20px;
}

.box {
  padding: 10px;
  border: 1px solid rgb(232, 187, 187);
  margin-top: 5px;
  border-radius: 7px;
  background-color: #f7f7f7;
}

button {
  padding: 5px;
  background-color: transparent;
}
